<a href="https://colab.research.google.com/github/vennelaR123/vennelaa/blob/main/module1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ooopas syntax for creating a class:

In [2]:
class Dog:
    def __init__(self, name, age): # The __init__ method is indented one level inside the class

        self.name = name # Further indentation is needed for code within the method
        self.age = age

example-2

In [5]:
class Employee:
    # class variables
    company_name = 'ABC Company'
    # constructor to initialize the object
    def __init__(self, name, salary):
        # instance variables
        self.name = name
        self.salary = salary
    # instance method
    def show(self):
        print('Employee:', self.name, self.salary, self.company_name)
# create first object
emp1 = Employee("Harry", 12000)
emp1.show()
# create second object
emp2 = Employee("Emma", 10000)
emp2.show()

Employee: Harry 12000 ABC Company
Employee: Emma 10000 ABC Company

encapsulation

In [10]:
class Employee:
    def __init__(self, name, salary):
        # public member
        self.name = name
        # private member
        self.__salary = salary

    def show(self):
        print("Name is ", self.name, "and salary is", self.__salary)

emp = Employee("Jessa", 40000)
emp.show()

# Trying to access __salary directly will raise an AttributeError
print(emp.__salary)

Name is  Jessa and salary is 40000

AttributeError: 'Employee' object has no attribute '__salary'

polimorsphisam

In [11]:
class Circle:
    pi = 3.14 #This line and the lines below need to be indented to be included in the class
    def __init__(self, redius):
        self.radius = redius
    def calculate_area(self):
        print("Area of circle :", self.pi * self.radius * self.radius)
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width
    def calculate_area(self):
        print("Area of Rectangle :", self.length * self.width)
# function
def area(shape):
    # call action
    shape.calculate_area()
# create object
cir = Circle(5)
rect = Rectangle(10, 5)
# call common function
area(cir)
area(rect)

Area of circle : 78.5
Area of Rectangle : 50

inheritance in python

In [12]:
# Base class
class Vehicle:
    def __init__(self, name, color, price): #This line and the lines below need to be indented to be included in the class
        self.name = name
        self.color = color
        self.price = price
    def info(self):
        print(self.name, self.color, self.price)
# Child class
class Car(Vehicle):
    def change_gear(self, no):
        print(self.name, 'change gear to number', no)
# Create object of Car
car = Car('BMW X1', 'Black', 35000)
car.info()
car.change_gear(5)

BMW X1 Black 35000
BMW X1 change gear to number 5