<a href="https://colab.research.google.com/github/vennelaR123/vennelaa/blob/main/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Functions***

1. ***Cmp_to_key***  : It converts a comparison function into a key function.
The comparison function must return 1, -1 and 0 for different conditions.
It can be used in key functions such as sorted(), min(), max().

Syntax:

function(iterable, key=cmp_to_key(cmp_function))

In [1]:
from functools import cmp_to_key

# function to sort according to last character
def cmp_fun(a, b):
	if a[-1] > b[-1]:
		return 1
	elif a[-1] < b[-1]:
		return -1
	else:
		return 0

list1 = ['A', 'M', 'Z']
l = sorted(list1, key = cmp_to_key(cmp_fun))
print('sorted list :', l)

sorted list : ['A', 'M', 'Z']

2. ## ***Reduce***

In [2]:
from functools import reduce
list1 = [2, 4, 7, 9, 1, 3]
sum_of_list1 = reduce(lambda a, b:a + b, list1)

list2 = ["abc", "xyz", "def"]
max_of_list2 = reduce(lambda a, b:a if a>b else b, list2)

print('Sum of list1 :', sum_of_list1)
print('Maximum of list2 :', max_of_list2)

Sum of list1 : 26
Maximum of list2 : xyz

total_ordering

In [3]:
from functools import total_ordering

@total_ordering
class N:
	def __init__(self, value):
		self.value = value
	def __eq__(self, other):
		return self.value == other.value

	# Reverse the function of
	# '<' operator and accordingly
	# other rich comparison operators
	# due to total_ordering decorator
	def __lt__(self, other):
		return self.value > other.value


print('6 > 2 :', N(6)>N(2))
print('3 < 1 :', N(3)<N(1))
print('2 <= 7 :', N(2)<= N(7))
print('9 >= 10 :', N(9)>= N(10))
print('5 == 5 :', N(5)== N(5))

6 > 2 : False
3 < 1 : True
2 <= 7 : False
9 >= 10 : True
5 == 5 : True

***asyncio in Python***